body{
    background-color: hsl(216, 12%, 8%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.main-box{
    background-color: hsl(212, 19%, 17%);
    width: 420px;
    height: 420px;
    margin-left: 500px;
    margin-top: 100px;
    border-radius: 40px;
    display: grid;
    
}
.star-container{
    width: 20px;
    height: 20px;
    padding: 10px;
    display: flex;
    margin-top: 20px;
    padding-left: 50px;
}
.topic{
    font-weight: 700;
    color : white;
    padding-left: 50px;
}
.context{
    color : hsl(216, 12%, 54%);
    font-size : 15px;
    padding-left: 50px;
    padding-right: 10px;
}
.ratings{
   display: flex;
   justify-content: space-evenly;
   align-items: center;  
}
.button{
    color: hsl(216, 12%, 54%);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: hsl(213, 19%, 18%);
    filter: drop-shadow(4px 4px 4px  rgb(27, 27, 27));
    cursor: pointer;
}
.button:hover{
    opacity: 0.7;
}



    


.submit-button{
    background-color: hsl(25, 97%, 53%);
    padding: 8px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    border: none;
    border-radius: 14px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}
.submit-button:hover{
    opacity: 0.7;
}

